version: '3.8'
services:
  frontend:
    build:
      context: ./App
      dockerfile: Dockerfile
    volumes:
      - ./App/build:/app/build

  backend:
    build:
      context: ./Server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - frontend
    volumes:
      - ./Database:/app/Database
      - ./App/build:/app/build