/*Site-wide CSS rulesets*/

html {
    min-width: 250px;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-width: 100vw; /* Set the minimum width to 100% of the viewport width */
    min-height: 100vh; /* Set the minimum height to 100% of the viewport height */
    background-image: url('../cool-background.png'); /* Specify the path to your new image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

.login-container {
    border-radius: 10px; /* Rounded Corners */
    padding: 40px; /* Padding for spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh; /* Adjust height as needed */
}

.form-floating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

