/*Site-wide CSS rulesets*/

html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background-image: url('../cool-background.png'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    border-radius: 10px; /* Rounded Corners */
    padding: 40px; /* Padding for spacing */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
}

.login-text {
    font-family: Helvetica, sans-serif;
    margin-right: 10px; /* Add margin between label and input box */
}

.login-button {
    background-color: #00798C; /* Button Color */
    color: white; /* Text Color */
    padding: 10px 20px; /* Padding for button */
    border: 1px solid black; /* Black border */
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #005F6B; /* Hover Color */
}

.form-floating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    border: 1px solid black; /* Black border for input boxes */
    border-radius: 5px;
    padding: 8px; /* Padding for input boxes */
}

.homePage {
    background-image: url('../cool-background.png');
    background-size: cover;
    background-position: center;
}