{{define "CreatePostForm"}}
<div>
    <h1>Create New Post</h1>
    <form method="post" action="/api/posts">
        <div>
            <input name="post-body" type="text" placeholder="Enter text" />
        </div>
        <div>
            <h3>Privacy</h3>
            <select name="post-privacy">
                <option value="public" selected="selected">Public</option>
                <option value="private">Private</option>
            </select>
        </div>
        <div>
            <button type="submit">Create Post</button>
        </div>
    </form>
</div>
{{end}}