{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" rel="stylesheet" href="./static/css/site.css" />
    </head>
    <body>
        <main id="main">
            <h1>This is not an actual page! - React will handle real UI</h1>
            <h5>
                This page is just a form-based test for various POST endpoints.
                By default, all all created with UserID '1'. The Comments have
                PostID '1', the Events have GroupID '1' and the Posts have GroupID '0'.
            </h5>
            {{template "SignupForm" .}}
            {{template "LoginForm" .}}
            {{template "CreateGroupForm" .}}
            {{template "CreateEventForm" .}}
            {{template "CreatePostForm" .}}
            {{template "CreateCommentForm" .}}
        </main>
        <script type="module" src="./static/js/dummy.js"></script>
    </body>
</html>
{{end}}