{{define "CreateEventForm"}}
<div>
    <h1>Create New Event</h1>
    <form method="post" action="/api/events">
        <div>
            <input name="event-title" type="text" placeholder="Title" />
        </div>
        <div>
            <input name="event-description" type="text" placeholder="Description" />
        </div>
        <div>
            <input name="event-date-time" type="datetime-local" placeholder="mm/dd/yyyy 00:00:00"/>
        </div>
        <div>
            <button type="submit">Create Event</button>
        </div>
    </form>
</div>
{{end}}